/* .student-details{
    margin: 50px auto;
    width: 70%;
    
} */
/* div{
  border: 1px solid red;
} */
/* @media only screen and (max-width: 600px) {
  #table_div{
  max-width: 60%;
  }
  #table_div table{
    max-width: 60%;
  }
  table, th, td {
    max-width: 60%;
  }
} */



/* table{
    margin: 50px auto;
} */
/* table, th, td {
    border: 1px solid rgb(128, 115, 93);
    padding: 10px;
  }
  td{
    padding: 15px;
    color: black;

  } */